<nav class="header__nav">
    <a class="header__name" href="http://localhost:2007/home">
        <div id="grid-logo" class="secondary"><img src="images/trastoo_40x40.png"></div>
    </a>
    <div class="header__share">
        <a href="/home" title="home">
            <span class="header__links"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 37.655 37.655" enable-background="new 0 0 37.655 37.655" xml:space="preserve">
                <g>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="18.828" cy="18.827" r="17.828"></circle>
                    <polyline points="3,17 20,7 37,17 30,12 30,27 10,27 10,12 3,17" style="fill:none;stroke:#B73C24;stroke-width:2" />
                </g>
            </svg>
            </span>
        </a>
        <a href="/user/favs" title="favourites">
            <span class="header__links"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 37.655 37.655" enable-background="new 0 0 37.655 37.655" xml:space="preserve">
                <g>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="18.828" cy="18.827" r="17.828"></circle>
                    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="10.229" y1="11.879" x2="27.427" y2="11.879"></line>
                    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="10.229" y1="18.827" x2="27.427" y2="18.827"></line>
                    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="10.229" y1="25.776" x2="27.427" y2="25.776"></line>
                </g>
            </svg>
            </span>
        </a>
        <a href="/about" title="about">
            <span class="header__links"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 37.895 37.895" enable-background="new 0 0 37.895 37.895" xml:space="preserve">
                <g>
                    <circle stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" cx="18.947" cy="18.947" r="18"></circle>
                    <path class="stroke" fill="none" stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" d="M19.083,23.538c0,0-0.027-1.991,1.746-3.355
                        l1.146-0.737c1.289-0.937,2.127-2.457,2.127-4.174c0-2.848-2.308-5.156-5.155-5.156s-5.157,2.309-5.157,5.156"></path>
                    <line fill="none" stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" x1="19.11" y1="25.421" x2="19.11" y2="28.45"></line>
                </g>
            </svg>
            </span>
        </a>
         <a href="/contacto" title="contacto">
            <span class="header__links"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 37.895 37.895" enable-background="new 0 0 37.895 37.895" xml:space="preserve">
                <g>
            
                <circle fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" cx="18.89" cy="18.889" r="17.942"></circle>

                <polyline fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" points="
                    27.468,14.669 27.468,27.409 10.545,27.409 10.545,14.669                 "></polyline>
                
                    <line fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" x1="20.895" y1="20.795" x2="27.468" y2="14.669"></line>
                
                    <line fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" x1="10.545" y1="14.669" x2="17.127" y2="20.834"></line>
                <path fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" d="M24.426,11.776
                    l2.952,2.733c0,0,0.097,0.027,0.097,0.288"></path>
                <polyline fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" points="
                    15.781,9.765 19.006,6.76 22.166,9.685               "></polyline>
                <path fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" d="M10.545,14.784
                    c0-0.247,0.183-0.366,0.183-0.366l2.618-2.439"></path>
                <path fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" d="M10.545,26.903
                    c0,0,7.221-6.638,7.936-7.353c0.605-0.605,1.047-0.006,1.047-0.006l7.94,7.358"></path>

        <polyline fill="none" class="stroke" stroke-width="1.8947" stroke-linejoin="round" stroke-miterlimit="10" points="
            13.632,17.287 13.632,9.745 24.367,9.745 24.367,17.653       "></polyline>
        
            <line fill="none" class="stroke" stroke-width="1.8947" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="16.508" y1="15.86" x2="21.637" y2="15.86"></line>
        
            <line fill="none" class="stroke" stroke-width="1.8947" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="16.508" y1="12.86" x2="21.637" y2="12.86"></line>
</g>
            </svg>
            </span>
        </a>
       <a href="http://localhost:2007/logout" title="logout">
            <span class="header__links"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="38px" height="38px" viewBox="0 0 37.895 37.895" enable-background="new 0 0 37.895 37.895" xml:space="preserve">
                <g>
                    <circle stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" cx="18.947" cy="18.947" r="18"></circle>
                    <polyline fill="none" stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" points="25.9,18.033 25.9,26.031 
                    11.9,26.031 11.9,12.031 19.403,12.031   "></polyline>
                    <polyline fill="none" stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" points="25.066,8.037 28.603,11.573 
                    25.066,15.109   "></polyline>
                    <path class="stroke" fill="none" stroke="#FFFFFF" stroke-width="1.8947" stroke-miterlimit="10" d="M18.9,19.906c0-4.763,3.861-8.625,8.625-8.625
                    "></path>
                </g>
            </svg>                    
            </span>
       </a>
        <span class="header__linksN"><a href="http://localhost:2007/userUpdate" title="profile"><% if (perfil.doc.name){%><%=perfil.doc.name%><%} else{%><%=perfil.doc.email%><%}%></a></span>
    </div>
</nav>