<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="nabe-page trastoo">
        <div class="wrap">
            <header class="header">
                <% include ../partials/header %>
            </header>
            <div class="header__banner">
        <h1>This is great</h1>
            
        <p class="header__tagline apercu">
         Welcome to templating using EJS
        </p>

    </div>
            <input type="hidden" value="#F5F5F1" id="nabe_color">

            <footer>
                <% include ../partials/footer %>
            </footer>
        </div>
    </body>
</html>