<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="nabe-page trastoo">
        <div class="wrap">
            <header class="header">
                <% include ../partials/header %>
            </header>
            <div class="header__banner">
                <h1 class="header__title" data-loc="">Contacto</h1>
                <p class="header__tagline apercu">
                	Su consulta se ha enviado correctamente, a la mayor brevedad daremos respuesta a su solicitud. Gracias
                </p>
            </div>
            
        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
</body>
</html>